@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import 'header-footer.scss';
@include header;
@include footer;

body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    width: 80%;
    margin: auto;
}
    
    // INFO SECTION
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 2em 0;

    article{
        padding: 1em;
    }
    article:nth-of-type(1){
        background-color: #dc6036;
        color: white;
    }
    article:nth-of-type(2){
        background-color: #5f93aa;
        color: white;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    article:nth-of-type(3){
        background-color: #dc6036;
        a{
            color: black;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

} // #info ends

    // GALLERY SECTION
.gallery-wrap{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    img{
        width: 100%;
    }
    figure{
        border: 1px solid black;
    }
    figcaption{
        font-size: 0.7rem;
        background-color: #5f93aa;
        color: white;
        padding: 1em;
        height: 5em;
    }
}

// MEDIA QUERIES
// MEDIA QUERIES 700-1200PX
@media screen and (max-width: 1200px){


    #info{
        display: block;

        img{
            margin-bottom: 3em;
        }
    }

} // MQ 1200PX ENDS

// MEDIA QUERIES UNDER 700PX
@media screen and (max-width: 700px){

    .gallery-wrap{
        display: block;
    }

} // MQ 700PX ENDS