@import 'header-footer.scss';
@import 'index.scss';
@import 'ydelser.scss';

@include header;
@include footer;

.styled-section {

    @include styled-section();
    padding-bottom: 15px;
    img {
        opacity: 80%;
    }
    
    h4 , p{
        font-size: 1.1vw;
    }
    
    img:hover {
        transform: scale(1.01);
        opacity: 100%;
        }
}
.textdiv{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    @include textdiv;
    margin-bottom: 10px;
    width: 100%;
    // scroll-behavior: smooth;
    
}
.textdiv a {
    color: #dc6036;

}