// FOOTER SECTION

footer {
    background-color: #366171;
    #articles-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        margin: auto;
        article {
            h4 {
                color: white;
                margin-bottom: 0.5em;
            }
            a {
                display: block;
                color: white;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    #some-icons {
        padding: 2em 0 1em 0;
        width: 20%;
        margin: auto;
        img {
            width: 15%;
            padding-left: 1em;
        }
    }
}