@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@media screen and (min-width: 1200PX) {
  .container-main {
    max-width: 100%;
    margin: auto;
    font-size: 20px;
  }
  #first {
    position: relative;
    max-width: 80%;
    margin: auto;
    background-color: #5f93aa;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 60%;
    grid-template-columns: auto 60%;
  }
  #first h4 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 1em;
    font-size: 1.25em;
    margin-bottom: 0;
  }
  #first p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 0.9em;
    margin: 1em;
    font-size: 20px;
    margin-top: 0;
  }
  #first img {
    width: 95%;
    margin: 1em;
  }
  #first .cirkel {
    background-color: #dc6036;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 5em;
    margin-left: 3em;
  }
  #first div article {
    text-align: center;
    bottom: 0px;
    color: #fff;
  }
  #first div article p:last-child {
    color: #000;
  }
  #second {
    max-width: 80%;
    margin: auto;
    background-color: #dc6036;
    /* Den overflow er hidden for at gemme det der ikke er på billedet */
    /* Filter er for at gøre billedet  lysere */
  }
  #second h4 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 1em;
    font-size: 1.25em;
    margin-bottom: 0;
  }
  #second p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 0.9em;
    margin: 1em;
    font-size: 20px;
    margin-top: 0;
  }
  #second div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
  }
  #second figure {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: #366171;
  }
  #second img {
    width: 100%;
    display: block;
  }
  #second figcaption {
    background-color: #366171;
    width: 100%;
    height: 63%;
    color: white;
    position: absolute;
    text-align: left;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  #second figure:hover figcaption {
    color: white;
    display: -ms-grid;
    display: grid;
    background-color: none;
    margin-top: -40%;
  }
  #third {
    max-width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
  }
  #third article {
    width: 100%;
  }
  #third h4 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 1em;
    font-size: 1.25em;
    margin-bottom: 0;
  }
  #third p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 0.9em;
    margin: 1em;
    font-size: 20px;
    margin-top: 0;
    color: #000;
  }
}

@media screen and (min-width: 1200PX) and (max-width: 1200px) {
  body {
    width: 100%;
  }
  header img {
    width: 50%;
  }
  header nav {
    background-color: #336666;
  }
  header li {
    display: inline;
    padding: 50px;
  }
  header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  #first {
    max-width: 80%;
    margin: auto;
    background-color: #5f93aa;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 60%;
        grid-template-columns: auto 60%;
  }
  #first img {
    width: 95%;
    margin: 1em;
  }
  #first .cirkel {
    background-color: #dc6036;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 5em;
    margin-left: 3em;
  }
  #first div article {
    text-align: center;
    bottom: 0px;
    color: #fff;
  }
  #first div article p:last-child {
    color: #000;
  }
  #second {
    max-width: 80%;
    margin: auto;
    background-color: #dc6036;
    /* Den overflow er hidden for at gemme det der ikke er på billedet */
    /* Filter er for at gøre billedet  lysere */
  }
  #second div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  #second figure {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: #366171;
  }
  #second img {
    width: 100%;
    display: block;
  }
  #second figcaption {
    background-color: #366171;
    width: 100%;
    height: 63%;
    color: white;
    position: absolute;
    text-align: left;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  #second figure:hover figcaption {
    color: white;
    display: -ms-grid;
    display: grid;
    background-color: none;
    margin-top: -40%;
  }
  #third {
    max-width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 0.5em;
  }
  #third article {
    width: 100%;
  }
  footer {
    background-color: #366171;
  }
  footer #articles-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
  }
  footer #articles-wrap article h4 {
    color: white;
    margin-bottom: 0.5em;
  }
  footer #articles-wrap article a {
    display: block;
    color: white;
    text-decoration: none;
  }
  footer #articles-wrap article a:hover {
    text-decoration: underline;
  }
  footer #some-icons {
    padding: 2em 0 1em 0;
    width: 20%;
    margin: auto;
  }
  footer #some-icons img {
    width: 15%;
    padding-left: 1em;
  }
}

@media screen and (min-width: 1200PX) and (max-width: 700px) {
  body {
    width: 100%;
  }
  header img {
    width: 50%;
  }
  header nav {
    background-color: #336666;
  }
  header li {
    display: inline;
    padding: 50px;
  }
  header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  #first {
    max-width: 80%;
    margin: auto;
    background-color: #5f93aa;
  }
  #first img {
    width: 100%;
    margin: 1em;
  }
  #second {
    max-width: 80%;
    margin: auto;
    background-color: #dc6036;
    /* Den overflow er hidden for at gemme det der ikke er på billedet */
    /* Filter er for at gøre billedet  lysere */
  }
  #second div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  #second figure {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: #366171;
  }
  #second img {
    width: 100%;
    display: block;
  }
  #second figcaption {
    background-color: #366171;
    width: 100%;
    height: 63%;
    color: white;
    position: absolute;
    text-align: left;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  #second figure:hover figcaption {
    color: white;
    display: -ms-grid;
    display: grid;
    background-color: none;
    margin-top: -40%;
  }
  #third {
    max-width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 0.5em;
  }
  #third article {
    width: 100%;
  }
  footer {
    background-color: #366171;
  }
  footer #articles-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
  }
  footer #articles-wrap h4 {
    color: white;
    margin-bottom: 0.5em;
  }
  footer #articles-wrap a {
    display: block;
    color: white;
    text-decoration: none;
  }
  footer #articles-wrap a:hover {
    text-decoration: underline;
  }
  footer #some-icons {
    padding: 2em 0 1em 0;
    width: 20%;
    margin: auto;
  }
  footer #some-icons img {
    width: 15%;
    padding-left: 1em;
  }
}
/*# sourceMappingURL=index.css.map */