// Imports and mixins

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'); 

@import 'header-footer.scss';
@include header;
@include footer;

@mixin section {
    max-width: 80%;
    margin: auto;
}
@mixin overskrifter {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 1rem;
    font-size: 1.25rem;
    margin-bottom: 0;
}
@mixin brødtext {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 1.1rem;
    margin: 1rem;
    margin-top: 0;
}

//BREAKPOINTS
$tablet:1200px;
$mobile:700px;

//General settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-main {
    width: 80%;
    margin: auto;
    font-size: 20px;
}
section{
    margin: 1em 0;
}

// Nav section

header #hamburger {
    display: none;
}

// First section
#first {
    background-color: #5f93aa;
    display: grid;
    grid-template-columns: auto 60%;
    h4 {
        @include overskrifter;
    }
    p {
        @include brødtext;
    }
    img {
        width: 95%;
        margin: 1em;
    }
    figure{
        position: relative;
    }
    #cirkel {
        background-color:rgba(220, 96, 54, 0.9);
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 10%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    div article {
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            margin: 0;
            font-size: 4vw;
        }
        p{
            margin: 0;
            font-size: 2vw;
        }

    }
    div article p:last-child {
        color: #000;
        font-weight: bold;
    }
}

// Second section
#second {
    padding: 1em;
    background-color: #dc6036;
    display: grid;
    grid-template-columns: 2fr 1fr;

    h4 {
        @include overskrifter;
    }
    p {
        @include brødtext;
    }
    .figures-wrapper {
        display: grid;
        margin: 1em 0 0 1em;
        grid-template-columns: repeat(4, 1fr);
    }
    figure {
        width: 80%;
        height: 80%;
        background-color: #366171;
        
        img{
            width: 100%;
            opacity: 0.8;
            transition: opacity 300ms linear;
        }
        img:hover{
            opacity: 1;
        }
    }
   
    #bevaegelse {
        align-self: end;
        img{
            display: block;
            width: 100%;
        }
    }
    figcaption {
        background-color: #366171;
        width: 100%;
        height: 70px;
        font-size: 1rem;
        padding: 10px;
        color: white;
        text-align: center;
    }
}

// Third section
#third {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
    article {
        width: 100%;
    }
    h4 {
        @include overskrifter;
        color: black;
    }
    p {
        @include brødtext;
        color: #000;
    }
}


//// MEDIA QUERIES
// TABLET 1200-700PX
@media screen and (max-width: 1200px){

    .container-main{
        width: 90%;
    }
    
    #first{
        display: block;
    }

    #second{
        display: block;

        #bevaegelse{
            padding: 1em;
        }
    }

    #third{
        display: block;
    }



} // TABLET MQ ENDS

// MOBIL MQ UNDER 700PX 
@media screen and (max-width: 700px){

    header {
        position: relative;
    }
    #search {
        display: none;
    }
    nav {
        position: absolute;
        top: 80px;
       ul {
        background-color:#5f93aa;
        padding:10px;
       } 
    }
    header nav ul li a {
            color:black;
            padding: 15px;     
    }
    
    header #nav- {
        display: none;
    }
    
    header #hamburger {
        position: absolute;
        top:20px;
        right: 20px;
        color:white;
        display: block;
    }
   
    #second{
        .figures-wrapper{
            display: block;

            figure{
                margin-bottom: 1em;
            }
        }
    }
    footer #articles-wrap {
        display: block;
        article{

            a{
            display: block;
            }
        }
    }
} // MOBIL MQ ENDS